In [5]:
import pandas as pd 
import numpy as np

In [6]:
df=pd.read_csv(r"C:\Users\spngu\OneDrive\Desktop\mysql\e_commerce_sales.csv")
df.head()

,Customer ID,Gender,Region,Age,Product Name,Category,Unit Price,Quantity,Total Price,Shipping Fee,Shipping Status,Order Date
0,CUST0001,Male,N,23.0,Headphones,Accessories,100.0,5.0,500.0,12.22,d,18-01-2023
1,CUST0002,Male,South,52.0,Lap,Electro,1500.0,50.0,7500.0,19.69,In Transit,17-09-2023
2,CUST0003,Female,E,52.0,Headphones,Access,100.0,2.0,200.0,12.00,In Transit,28-10-2023
3,CUST0004,fe,East,69.0,Keyboard,Accessories,NaN,1.0,NaN,14.53,Re,23-04-2023
4,CUST0005,Female,North,33.0,Smartwatch,W,200.0,2.0,400.0,10.07,d,21-11-2023

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customer ID      85 non-null     object
 1   Gender           85 non-null     object
 2   Region           81 non-null     object
 3   Age              74 non-null     float64
 4   Product Name     85 non-null     object
 5   Category         85 non-null     object
 6   Unit Price       76 non-null     float64
 7   Quantity         85 non-null     float64
 8   Total Price      80 non-null     float64
 9   Shipping Fee     85 non-null     float64
 10  Shipping Status  82 non-null     object
 11  Order Date       85 non-null     object
dtypes: float64(5), object(7)
memory usage: 8.1+ KB

In [9]:
df.shape

(85, 12)

In [10]:
df.columns=df.columns.str.strip().str.lower().str.replace(" ","_")
df.isnull().sum()

customer_id         0
gender              0
region              4
age                11
product_name        0
category            0
unit_price          9
quantity            0
total_price         5
shipping_fee        0
shipping_status     3
order_date          0
dtype: int64

In [11]:
# Data cleaning.
# Handling missing value in Dataset using appropriate methods.
df['region']=df['region'].fillna(df['region'].mode()[0])
df['age']=df['age'].fillna(df['age'].mean())
df['unit_price']=df['unit_price'].fillna(df['unit_price'].mean())
df['total_price']=df['total_price'].fillna(df['total_price'].mean())
df['shipping_status']=df['shipping_status'].fillna(df['shipping_status'].mode()[0])
df.isnull().sum()

customer_id        0
gender             0
region             0
age                0
product_name       0
category           0
unit_price         0
quantity           0
total_price        0
shipping_fee       0
shipping_status    0
order_date         0
dtype: int64

In [12]:
# Convert the data types of required columns in the dataset.
df['order_date']=pd.to_datetime(df['order_date'],dayfirst=True)
df['unit_price']=df['unit_price'].astype(int) 
df['quantity']=df['quantity'].astype(int) 
df['age']=df['age'].astype(int)
df['total_price']=df['total_price'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_id      85 non-null     object
 1   gender           85 non-null     object
 2   region           85 non-null     object
 3   age              85 non-null     int64
 4   product_name     85 non-null     object
 5   category         85 non-null     object
 6   unit_price       85 non-null     int64
 7   quantity         85 non-null     int64
 8   total_price      85 non-null     int64
 9   shipping_fee     85 non-null     float64
 10  shipping_status  85 non-null     object
 11  order_date       85 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(4), object(6)
memory usage: 8.1+ KB

In [13]:
# Replace categorical values in the dataset with meaningful lables.
df['gender']=df['gender'].replace({'f':'Female','F':'Female','fe':'Female','M':'Male','m':'Male','ma':'Male'})
df['region']=df['region'].replace({'N':'North','S':'South','E':'East','W':'West'})
df['product_name']=df['product_name'].replace({'Head':'Headphone','Key':'Keyboard','Lap':'Laptop','Mo':'Monitor'})
df['category']=df['category'].replace({'Access':'Accessories','Electro':'Electronics','W':'Wearables'})
df['quantity']=df['quantity'].replace({50:5,1.7:1,4.2:4})
df['shipping_status']=df['shipping_status'].replace({'d':'Delivered','In Tra':'In Transit','In Tr':'In Transit','Re':'Returned'})
df.head()

,customer_id,gender,region,age,product_name,category,unit_price,quantity,total_price,shipping_fee,shipping_status,order_date
0,CUST0001,Male,North,23,Headphones,Accessories,100,5,500,12.22,Delivered,2023-01-18
1,CUST0002,Male,South,52,Laptop,Electronics,1500,5,7500,19.69,In Transit,2023-09-17
2,CUST0003,Female,East,52,Headphones,Accessories,100,2,200,12.00,In Transit,2023-10-28
3,CUST0004,Female,East,69,Keyboard,Accessories,470,1,1368,14.53,Returned,2023-04-23
4,CUST0005,Female,North,33,Smartwatch,Wearables,200,2,400,10.07,Delivered,2023-11-21

In [14]:
# Create New Columns:
# Q1:Calculate total sales for each record in the dataset.
df['total_sales']=df['unit_price']*df['quantity']
# Q2:Calculate profit for each record in the dataset.
df['profit']=df['total_sales']*0.20
df.head()

,customer_id,gender,region,age,product_name,category,unit_price,quantity,total_price,shipping_fee,shipping_status,order_date,total_sales,profit
0,CUST0001,Male,North,23,Headphones,Accessories,100,5,500,12.22,Delivered,2023-01-18,500,100.0
1,CUST0002,Male,South,52,Laptop,Electronics,1500,5,7500,19.69,In Transit,2023-09-17,7500,1500.0
2,CUST0003,Female,East,52,Headphones,Accessories,100,2,200,12.00,In Transit,2023-10-28,200,40.0
3,CUST0004,Female,East,69,Keyboard,Accessories,470,1,1368,14.53,Returned,2023-04-23,470,94.0
4,CUST0005,Female,North,33,Smartwatch,Wearables,200,2,400,10.07,Delivered,2023-11-21,400,80.0

In [44]:
# Data Filtering.
# Q1:Filter all orders that belong to the Electronics Category.
electronics_sales=df[df['category']=='Electronics']
electronics_sales.head()

,customer_id,gender,region,age,product_name,category,unit_price,quantity,total_price,shipping_fee,shipping_status,order_date,total_sales,profit
1,CUST0002,Male,South,52,Laptop,Electronics,1500,5,7500,19.69,In Transit,2023-09-17,7500,1500.0
7,CUST0008,Female,East,57,Monitor,Electronics,300,2,600,12.38,Returned,2023-11-17,600,120.0
9,CUST0010,Male,East,64,Smartphone,Electronics,800,4,3200,17.27,In Transit,2023-08-08,3200,640.0
13,CUST0014,Female,West,59,Monitor,Electronics,300,4,1200,17.37,In Transit,2023-11-26,1200,240.0
17,CUST0018,Male,North,41,Laptop,Electronics,1500,4,6000,7.13,Delivered,2023-01-14,6000,1200.0

In [47]:
# Q2:Filter all high_value orders where total sales are greater than 5000.
high_value_orders=df[df['total_sales']>5000]
high_value_orders.head()

,customer_id,gender,region,age,product_name,category,unit_price,quantity,total_price,shipping_fee,shipping_status,order_date,total_sales,profit
1,CUST0002,Male,South,52,Laptop,Electronics,1500,5,7500,19.69,In Transit,2023-09-17,7500,1500.0
17,CUST0018,Male,North,41,Laptop,Electronics,1500,4,6000,7.13,Delivered,2023-01-14,6000,1200.0
27,CUST0028,Female,South,26,Laptop,Electronics,1500,4,6000,15.74,Returned,2023-08-12,6000,1200.0
33,CUST0034,Female,West,67,Laptop,Electronics,1500,4,6000,7.01,Delivered,2023-09-01,6000,1200.0
35,CUST0036,Male,North,57,Laptop,Electronics,1500,4,6000,10.92,In Transit,2023-05-13,6000,1200.0

In [48]:
# Q3:Calculate the total sales for each region using a group-by operation.
region_sales=df.groupby('region')['total_sales'].sum()
region_sales.head()

region
East     29700
North    29460
South    39580
West     22242
Name: total_sales, dtype: int64

In [49]:
# Q4:Calculate the total profit for each gender using a group-by operation.
gender_sales=df.groupby('gender')['profit'].sum()
gender_sales.head()

gender
Female    10812.0
Male      13384.4
Name: profit, dtype: float64

In [51]:
df.to_csv(r"e_commerce_sales.csv",index=False)